
html{height: 100%; width: 100%; }
body{width: 100%; height: 100%; margin: 0px; padding:  0px; border: 0px;
    font-family: Verdana, Arial, Helvetica, sans-serif; background-image: url("images.JPG");background-size: contain;
    font-size: 13px; line-height: 15px; }
img{ border: none;}
table,tr,td{border-collapse: separate; vertical-align: top; font-size: 13px; line-height: 15px; }
a{color: #8D0D19;}

#header{ height: 80px; margin: 0px; padding: 0px;text-align: left;
    background: #1A446C;background-image: url("ucsc.png");background-repeat:no-repeat;background-position:top right; color: #D4E6F4;}
#header h1{padding: 1em; margin: 0px;}
#main{margin: 0px; padding: 0px;height: 600px;width: 100%;/*background: #EEE4B9;*/}
#structure{ height: 600px;width: 100%;}
#path{ height: 20px;width: 100%;color:  #D4E6F4}
#path h4{color:  #D4E6F4}
#footer{height: 2em;margin: 0px;padding: 1em;text-align: center;background: #1A446C;color: #D4E6F4;}


/*Navigation*/

#navigation{width: 150px;padding: 2em;color: #D4E6F4; background:	#DCDCDC; border-radius: 10px 10px 10px 10px;}
#navigation a {color:  #1A446C;text-decoration: none;}
#logindetails{width: 150px;padding:2em;color: #00008B; background: 	#DCDCDC; border-radius: 10px 10px 10px 10px; margin-left:75%; }
#logindetails a {color:  #1A446C;text-decoration: none;}
/*ul.subjects{padding-left: 0;list-style: square;}
ul.pages{padding-left: 2em; list-style: square;}
.selected{font-weight: bold;}*/

/*page content*/
#page{padding-left: 2em;vertical-align: top;/*background: #EEE4B9;*/}
#page h2{color: #8D0D19;margin-top: 1em;}
#page h3{color: #8D0D19;}

input {
    display: block;
    margin-bottom: 20px;}
select{margin-bottom:20px;display:block;height:20px;width:172px;}
#form2{width: 4em;}
#t1{ margin-left:0% ;}
